@font-face{
    font-family: 'OpenSans-Bold';
    src: url('/fonts/OpenSans-Bold.ttf'); 
}

*{
	padding: 0;
	margin:0;
}
label{
	position: relative;
	top: 30px;
	text-align: left;
	display: block;
	margin-left: 19%;
	margin-right: 75%;
}

.geral {
    /*min-height:100%;
    position:absolute;
    width:800px;*/
}
/*Menu top*/
.banner img{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.banner{
    text-align: left;
    padding-top: 7%;
    padding-left: 2%;
}
.imgBanner{
    width: 100%;
}
.aMenu{
    text-decoration: none;
    color: #FFF;
    font-size: 150%;
    margin-right:2%;
    font-family: 'OpenSans-Bold';

}
/*form */
.form{
	margin-top: 2.5%;
	padding-top: 1%;
	padding-bottom: 4%;
}
/*Top*/
.topo{
	width: 100%;
	height: 18vh;
	margin: 0%;
	position: relative;
	background-color: #266B29;
	background-image: linear-gradient(-45deg, #53A500, #266B29);

}
/*Foto*/
.foto{
	width: 4%;
	height: 51%;
	display: inline;
	position: relative;
	left: 1%;
	top: 2%;
	margin-top: 0.5%;
}
.divfoto{
	display: inline;
}

/*Inputs*/
.inp{
		/*height: 60vh;*/
		width: 45%;
  	padding: 15px;
  	display: inline-block;
  	border: 1px solid #266B29;
  	border-radius: 4px;
  	box-sizing: border-box;
  	margin-right: 3%;
  	margin-left: 3%;
}
.input{
	height: 60vh;
	padding-top: 2%;
	padding-bottom: 5%;
	position: relative;
	margin-top: 2%;
	margin-bottom: 3%;
	text-align: center;
}
#input{
	/*margin-top: 30px;*/
	
}
/*Buuton*/
.buuton{
  background-color: rgba(83, 165, 0, 1); 
  border: none;
  color: white;
  padding: 1% 3%;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.7em;
  border-radius: 10%;
  margin-top: 2%;
}

.buuton:hover{
	background-color: rgba(83, 165, 0, 0.8);
	text-decoration: underline;
}

/*Bottom*/
.baixo{
	margin-top: 5%;
	margin-bottom: 0;
	position:relative;
	bottom:0;
	width: 100%;
	height:10vh; 
	background-color: #18481c;
	background-image: linear-gradient(-45deg, #53A500, #266B29);
<<<<<<< HEAD

=======
	margin-top: 10%;
>>>>>>> 5b273426c1dfb84bb3dd6b83025aca009ff0def4
}
/*Links*/
.a1{
	text-decoration: none;
	color: white;
	display: inline;
	font-size: 400%;
	margin-left: 40%;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 800;
    letter-spacing: -0.04em;
    line-height: 1.3em;
}
.a2{
	text-decoration: none;
	color: white;
	font-size: 150%;
	margin-left: 46%;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 800;
    letter-spacing: -0.04em;
    line-height: 1.3em;
}
.a3{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 200%;
	margin-top: 0.2%;
	margin-left: 45%;
	width: 5%;
	height: 15%;
	text-align: center;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 800;
    letter-spacing: -0.04em;
    line-height: 1.3em;
}
