@font-face{
    font-family: 'OpenSans-Bold';
    src: url('/fonts/OpenSans-Bold.ttf'); 
}

*{
	padding: 0;
	margin:0;
}
label{
	position: relative;
	top: 60px;
	text-align: left;
	display:none;
	margin-left: 20%;
	margin-right: 75%;
}


@media (max-width: 1200px){
	label{
		font-size: 2vw;
		transition: 0.2s;

	}
}

	input{
		min-width: 0;
		width: 120%;
		height: 40px;
	}

	.banner{
		width: 100%;
	}

@media (min-width:700px) AND (max-width: 1200px){
	label{
		font-size: 1.5vw;
		transition: 0.2s;
	}

	input{
		width: 100%;
		height: 25%;
	}

	.banner{
		width: 100%;
	}

}


@media (min-width: 700px) {
	label{
		font-size: 1.5vw;
		transition: 0.2;
	}
	input{
		width: 100%;
		height: 25%;
	}

	.banner{
		width: 100%;
	}

}

.geral {
    /*min-height:100%;
    position:absolute;
    width:800px;*/
}
/*Menu top*/
.banner img{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;

}
.banner{
    text-align: left;
    padding-top: 7%;
    padding-left: 4.5%;
}
.imgBanner{
    width: 100%;
}

.topo{
    width: 100%;
    height: 7vh;
    margin: 0%;
    position: sticky;
    background-image: linear-gradient(-5deg, #81b277, #bfefa5);

}
nav {
    position: sticky;
    top: 0;
    margin-bottom: 5%
}

/*form */
.form{
	margin-top: 2.5%;
	padding-top: 1%;
	padding-bottom: 4%;
}
/*Top*/
.topo{
	width: 100%;
	height: 18vh;
	margin: 0%;
	position: relative;
	background-color: #266B29;
	background-image: linear-gradient(-45deg, #53A500, #266B29);

}
/*Foto*/
.foto{
	width: 4%;
	height: 51%;
	display: inline;
	position: relative;
	left: 1%;
	top: 2%;
	margin-top: 0.5%;
}
.divfoto{
	display: inline;
}

/*Inputs*/
.inp{
		/*height: 60vh;*/
		width: 45%;
  	padding: 15px;
  	display: inline-block;
  	border: 1px solid #266B29;
  	border-radius: 4px;
  	box-sizing: border-box;
  	margin-right: 3%;
  	margin-left: 3%;
}
.input{
	height: 60vh;
	padding-top: 2%;
	padding-bottom: 5%;
	position: relative;
	margin-top: 2%;
	margin-bottom: 3%;
	text-align: center;
}
#input{
	/*margin-top: 30px;*/
	
}
/*Buuton*/
.buuton{
  background-color: rgba(83, 165, 0, 1); 
  border: none;
  color: white;
  padding: 1% 3%;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.7em;
  border-radius: 10%;
  margin-top: 2%;
}

.buuton:hover{
	background-color: rgba(83, 165, 0, 0.8);
	text-decoration: underline;
}

/*Bottom*/
.baixo{
	margin-top: 5%;
	margin-bottom: 0;
	position:relative;
	bottom:0;
	width: 100%;
	height:10vh; 
	background-color: #18481c;
	background-image: linear-gradient(-45deg, #53A500, #266B29);
<<<<<<< HEAD

=======
	margin-top: 10%;
>>>>>>> 5b273426c1dfb84bb3dd6b83025aca009ff0def4
}
/*Links*/
.a1{
	text-decoration: none;
	color: white;
	display: inline;
	font-size: 400%;
	margin-left: 40%;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 800;
    letter-spacing: -0.04em;
    line-height: 1.3em;
}
.a2{
	text-decoration: none;
	color: white;
	font-size: 150%;
	margin-left: 46%;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 800;
    letter-spacing: -0.04em;
    line-height: 1.3em;
}
.a3{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 200%;
	margin-top: 0.2%;
	margin-left: 45%;
	width: 5%;
	height: 15%;
	text-align: center;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 800;
    letter-spacing: -0.04em;
    line-height: 1.3em;
}

/* SELECT */
.select{
	background-color: rgba(83, 165, 0, 1); 
  color: white;
  font-size: 1.7em;
  width:250px; 

}
.aMenu{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    margin-right:2%;
    font-family: 'OpenSans-Bold';

}
.aMenu:hover{
    text-decoration: none;
    color:#fff;
    text-shadow: 0.1em 0.1em 0.2em black
}

.aMenu:after {
    content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
.aMenu:hover:after {
  opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
span a {
  color: #fff;
  font-size: 1.5vw;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: 'Dosis', sans-serif;
}
.titleBanner{
    float: left;
    margin-top: 6em;
    margin-left: 1em;
}

.titleBanner2{
    float: right;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5vw;
    color: #fff;
    margin: auto;
    margin-top:3%;
    margin-right:3%;
}
.logoIF{
    width: 4%;
    float: left;
    margin-left: 6em;
    margin-top: 2em;
}
.tilt:hover{
    text-decoration: none;
    color:white;
}
/**********************************************************************/
@media (min-width: 350px) and (max-width: 575.98px) {
	label{
	position: relative;
	top: 25px;
	text-align: left;
	display: inline;
	margin-right: 60%;
  margin: 5%;
}

label{
		font-size: 2.8vw;
		transition: 1s;
  margin-left: 21%;
	}

  .banner {
    text-align: left;
    padding-top: 5%;
    padding-left: 5%;
  }

  .banner img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  .imgBanner {
    width: 120%;
  }

  .aMenu {
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    margin-right: 3%;
    font-family: "OpenSans-Bold";
  }

  .inp {
    width: 55%;
    padding: 10px 10px;
    margin: 20px;
    display: inline-block;
    border: 1px solid #266B29;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 20%;
  }

}
/*************************************************************/
@media (min-width: 576px) and (max-width: 767.98px) {

	label{
	position: relative;
	top: 30px;
	text-align: left;
	display: inline-block;
  margin-left: 30%;
	margin-right: 75%;

}

label{
		font-size: 2.0vw;
		transition: 0.1s;

	}

  .banner {
    text-align: left;
    padding-top: 5%;
    padding-left: 5%;
  }

  .banner img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  .imgBanner {
    width: 100%;
  }

  .aMenu {
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    margin-right: 3%;
    font-family: "OpenSans-Bold";
  }

  .inp {
    width: 55%;
    padding: 10px 10px;
    margin: 20px;
    display: inline-block;
    border: 1px solid #266B29;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 32%;
  }

}
/*******************************************************/
@media (min-width: 768px) and (max-width: 991.98px) {
 		label{
	position: relative;
	top: 60px;
	text-align: left;
	display: block;
	margin-left: 20%;
	margin-right: 75%;
}

label{
		font-size: 1.3vw;
		transition: 0.1s;

	}

  .banner {
    text-align: left;
    padding-top: 6%;
    padding-left: 4.5%;
  }

  .banner img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  .imgBanner {
    width: 100%;
  }

  .aMenu {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    margin-right: 3%;
    font-family: "OpenSans-Bold";
    padding-top: 3px;
  }

  .aMenu:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em black;
  }

  .inp {
    width: 60%;
    padding: 10px 10px;
    margin: 15px;
    display: inline-block;
    border: 1px solid #266B29;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 28%;
  }
}

/*******************************************************************************************************************************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  	label{
	position: relative;
	top: 60px;
	text-align: left;
	display: block;
	margin-left: 20%;
	margin-right: 75%;
}

label{
		font-size: 1.5vw;
		transition: 0.2s;

	}

  .banner {
    text-align: left;
    padding-top: 6%;
    padding-left: 4.5%;
  }

  .banner img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  .imgBanner {
    width: 100%;
  }

  .aMenu {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    margin-right: 3%;
    font-family: "OpenSans-Bold";
    padding-top: 10px;
  }

  .aMenu:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em black;
  }


  .inp {
    width: 60%;
    padding: 10px 10px;
    margin: 15px;
    display: inline-block;
    border: 1px solid #266B29;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 31%;
  }

}
/********************************************/
@media (min-width: 1200px) {

	label{
	position: relative;
	top: 60px;
	text-align: left;
	display: block;
	margin-left: 20%;
	margin-right: 75%;
}

label{
		font-size: 1vw;
		transition: 0.2s;

	}
 
  .banner {
    text-align: left;
    padding-top: 7%;
    padding-left: 4.5%;
  }

  .banner img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  .imgBanner {
    width: 100%;
  }

  .aMenu {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    margin-right: 5%;
    font-family: "OpenSans-Bold";
  }

  .aMenu:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em black;
  }

  
  input {
    display: block;
    height: 5%;
    width: 55%;
    width: 22em;
  }

  .inp {
    width: 55%;
    padding: 10px 10px;
    margin: 15px;
    display: inline-block;
    border: 1px solid #266B29;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 20%;
  }
}