@font-face{
    font-family: 'OpenSans-Bold';
    src: url('/fonts/OpenSans-Bold.ttf'); 
}


*{
	padding: 0;
	margin:0;
}

/*Menu top*/
.banner img{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.banner{
    text-align: left;
    margin-top: 8%;
    margin-right: 40%;
    /*padding-top: 7%;*/
    padding-left: 2%;
}
.imgBanner{
    width: 100%;
}
.topo{
    width: 100%;
    height: 7vh;
    margin: 0%;
    position: sticky;
    background-image: linear-gradient(-5deg, #81b277, #bfefa5);
}
.aMenu{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    margin-right:2%;
    font-family: 'OpenSans-Bold';
    display: inline;

}
.aMenu:hover{
    text-decoration: none;
    color:#fff;
    text-shadow: 0.1em 0.1em 0.2em black
}

.aMenu:after {
    content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
.aMenu:hover:after {
  opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*form */
.form{
	margin-top: 2.5%;
}
/*Top*/
.topo{
	width: 100%;
	height: 7vh;
	margin: 0%;
	position: relative;
	background-color: #266B29;
	background-image: linear-gradient(-45deg, #53A500, #266B29);
}

/*Inputs*/
.inp{
	  width: 20%;
  	padding: 10px 10px;
  	margin: 15px;
  	display: inline-block;
  	border: 1px solid #266B29;
  	border-radius: 4px;
  	box-sizing: border-box;
  	margin-left:40%;
 
	 }

.input{
	height: 60vh;
	position: relative;
	text-align: center;
}
#input{
	margin-top: 30px;
}
nav {
    position: sticky;
    top: 0;
    margin-bottom: 5%
}
/*Botao*/
.button {
    background-color: #53A500;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
    margin-left: 47%;
}

/*Bottom*/
.baixo{
	width: 100%;
	height:15vh; 
	display:block;
	position: relative;	
	background-color: #18481c;
	background-image: linear-gradient(-45deg, #53A500, #266B29);
	margin-top: 25%;
}
/*Links*/
.a1{
	text-decoration: none;
	color: white;
	display: inline;
	font-size: 250%;
	margin-left: 41%;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 800;
    letter-spacing: -0.04em;
    line-height: 1.3em;
}
/*links em baixo do formulario de login*/
.uo{
	color:black;
	text-decoration: none;
	margin-left: 40%;
  margin-left:45%;
}
a:hover{
  text-decoration: underline; 	
}

input{
	display: block;
	height: 5%;
	width: 55%;
  width: 22em;
}
span a {
  color: #fff;
  font-size: 1.5vw;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: 'Dosis', sans-serif;
}
.titleBanner{
    float: left;
    margin-top: 6em;
    margin-left: 1em;
}

.titleBanner2{
    float: right;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5vw;
    color: #fff;
    margin: auto;
    margin-top:3%;
    margin-right:3%;
}
.logoIF{
    width: 4%;
    float: left;
    margin-left: 6em;
    margin-top: 2em;
}
.tilt:hover{
    text-decoration: none;
    color:white;
}