body{
	background: #00FF00;
}
*{
	margin: 0;

}
.teste{
	background: radial-gradient(#7CFC00, #7FFFD4);
	width: 25%;
	height: 200px;
	border-radius: 2em;
}
.cd{
	margin-left: 25%;
	margin-right: 25%;
}