
*{
	margin: 0;

}
.teste{

	width: 25%;
	height: 200px;
	border-radius: 2em;
}
.cd{
	margin-left: 25%;
	margin-right: 25%;
}
#mostrar{
	display: none;
	width: 2%;
	margin: 4px;

}
.card{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}
.card-aln{
	border: 0;
}