body {
  background: #266b29;
  text-align: center;
    margin: 0px 0;
    padding: 20px;
   
}

#aa{
	position: absolute;
	 top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
}
